backend/manager/modules/restapi/interface/definition/src/main/schema/api.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
           jaxb:version="2.1" jaxb:extensionBindingPrefixes="xjc">

  <!-- Links -->
  <xs:element name="keyValuePair" type="KeyValuePair"/>

  <xs:complexType name="KeyValuePair">
    <xs:sequence>
        <xs:element name="key" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="linkCapabilities" type="LinkCapabilities"/>

  <xs:complexType name="LinkCapabilities">
	<xs:sequence>
	  <xs:element name="searchable" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
	</xs:sequence>
  </xs:complexType>

  <xs:element name="detailedLink" type="DetailedLink"/>

  <xs:complexType name="DetailedLink">
    <xs:complexContent>
      <xs:extension base="Link">
        <xs:sequence>
          <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="request" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="response" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="linkCapabilities" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

 <xs:element name="detailedLinks" type="DetailedLinks"/>

  <xs:complexType name="DetailedLinks">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
          <jaxb:property name="links"/>
        </xs:appinfo>
      </xs:annotation>
      <xs:element type="DetailedLink" name="link" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="link" type="Link"/>

  <xs:complexType name="Link">
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="rel" type="xs:string"/>
  </xs:complexType>

  <!-- API -->

  <xs:element name="api" type="Api"/>

  <xs:complexType name="Api">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element ref="special_objects" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="product_info" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="summary" minOccurs="0" maxOccurs="1"/>
          <xs:element name="time" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="special_objects" type="SpecialObjects"/>

  <xs:complexType name="SpecialObjects">
    <xs:complexContent>
      <xs:extension base="BaseResource">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="summary" type="ApiSummary"/>

  <xs:complexType name="ApiSummary">
    <xs:sequence>
      <xs:element ref="vms" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="Vms"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="hosts" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="users" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="storage_domains" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Faults -->

  <xs:element name="fault" type="Fault"/>

  <xs:complexType name="Fault">
    <xs:sequence>
      <xs:element name="reason" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="detail" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>


  <xs:element name="usage_message" type="UsageMessage"/>

  <xs:complexType name="UsageMessage">
    <xs:sequence>
      <xs:element name="message" type="xs:string"/>
      <xs:element ref="detailedLink" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Actions -->

  <xs:complexType name="GracePeriod">
    <xs:sequence>
      <xs:element name="expiry" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:group name="ActionParameterGroup">
    <xs:sequence>
      <xs:element name="grace_period" type="GracePeriod" minOccurs="0"/>
      <!-- for StorageDomain VM migrate action -->
      <!-- also used for Gluster hook update to choose server to update from -->
      <xs:element name="host" type="Host" minOccurs="0"/>
      <!-- for host NIC attach action -->
      <xs:element name="network" type="Network" minOccurs="0"/>
      <!-- when installing a host, a root password is required -->
      <xs:element name="root_password" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <!-- when installing a host, ssh configuration is required -->
      <xs:element ref="ssh" minOccurs="0" maxOccurs="1"/>
      <!-- when installing a rhev-h host, an ISO image file is required -->
      <xs:element name="image" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <!-- for host fence action -->
      <xs:element name="fence_type" type="xs:string" minOccurs="0"/>
      <!-- for VM ticket actions -->
      <xs:element name="ticket" type="Ticket" minOccurs="0"/>
      <!-- websocket proxy ticket of graphics consoles -->
      <xs:element name="proxy_ticket" type="ProxyTicket" minOccurs="0" maxOccurs="1"/>
      <!-- for Host ISCSI actions -->
      <xs:element name="iscsi" type="IscsiDetails" minOccurs="0"/>
      <!-- for VM import and export actions -->
      <xs:element name="storage_domain" type="StorageDomain" minOccurs="0"/>
      <!-- for VM import action -->
      <xs:element name="cluster" type="Cluster" minOccurs="0"/>
      <!-- for VM export action -->
      <xs:element name="discard_snapshots" type="xs:boolean" minOccurs="0"/>
      <xs:element name="exclusive" type="xs:boolean" minOccurs="0"/>
      <!-- For VM start and clone-->
      <xs:element ref="vm" minOccurs="0" maxOccurs="1"/>
      <!-- For VM preview -->
      <xs:element name="snapshot" type="Snapshot" minOccurs="0" maxOccurs="1"/>
      <!-- For import template -->
      <xs:element ref="template" minOccurs="0" maxOccurs="1"/>
      <!-- For Setup Networks -->
      <xs:element ref="host_nics" minOccurs="0" maxOccurs="1"/>
      <xs:element name="modified_network_attachments" type="NetworkAttachments" minOccurs="0" maxOccurs="1"/>
      <xs:element name="removed_network_attachments" type="NetworkAttachments" minOccurs="0" maxOccurs="1"/>
      <xs:element name="synchronized_network_attachments" type="NetworkAttachments" minOccurs="0" maxOccurs="1"/>
      <xs:element name="modified_bonds" type="HostNics" minOccurs="0" maxOccurs="1"/>
      <xs:element name="removed_bonds" type="HostNics" minOccurs="0" maxOccurs="1"/>
      <xs:element name="modified_labels" type="Labels" minOccurs="0" maxOccurs="1"/>
      <xs:element name="removed_labels" type="Labels" minOccurs="0" maxOccurs="1"/>
      <xs:element name="check_connectivity" type="xs:boolean" minOccurs="0"/>
      <xs:element name="connectivity_timeout" type="xs:int" minOccurs="0"/>
      <!-- A VM can be started paused -->
      <xs:element name="pause" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <!-- should migration be forced if VM is pinned to host? -->
      <xs:element name="force" type="xs:boolean" minOccurs="0"/>
      <!-- For gluster volume set/reset option action -->
      <xs:element name="option" type="Option" minOccurs="0"/>
      <!-- In gluster volume rebalance action, should only fix-layout be performed -->
      <xs:element name="fix_layout" type="xs:boolean" minOccurs="0"/>
      <!-- In gluster brick replace action, the new brick that will replace current one -->
      <xs:element name="brick" type="GlusterBrick" minOccurs="0"/>
      <!-- import Vm/Template as new entity -->
      <xs:element name="clone" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <!-- indicates whether to restore snapshot's memory on preview/restore snapshot -->
      <xs:element name="restore_memory" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <!-- Custom disks list for preview/restore snapshot -->
      <xs:element ref="disks" minOccurs="0" maxOccurs="1"/>
      <!-- Used for external job -->
      <xs:element name="succeeded" type="xs:boolean" minOccurs="0"/>
      <!-- resolve GlusterHook using one of the resolution -->
      <xs:element name="resolution_type" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <!-- list of bricks to be migrated -->
      <xs:element ref="bricks" minOccurs="0" />
      <!-- ... etc., explicitly enumerate all the parameter types -->
      <xs:element name="job" type="Job" minOccurs="0"/>
      <!-- indicates whether to import the image as template or not -->
      <xs:element name="import_as_template" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <!-- for VM hosted engine maintenance actions -->
      <xs:element name="maintenance_enabled" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <!-- for getting storage domains which are candidates to be imported -->
      <xs:element ref="storage_domains" minOccurs="0" maxOccurs="1"/>
      <!-- For import Glance disk -->
      <xs:element ref="disk" minOccurs="0" maxOccurs="1"/>
      <!-- For host maintenance (deactivate) -->
      <xs:element name="reason" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <!-- For storage domain refresh LUNs -->
      <xs:element ref="logical_units" minOccurs="0"/>
      <!-- For VM that runs with Sysprep -->
      <xs:element name="use_sysprep" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <!-- For VM that runs with Cloud-Init -->
      <xs:element name="use_cloud_init" type="xs:boolean" minOccurs="0" maxOccurs="1"/>

      <!-- Used when importing the certificates of an external provider: -->
      <xs:element ref="certificates" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:group>

  <xs:group name="ActionResponseGroup">
    <xs:sequence>
      <!-- for Host ISCSI discovery action -->
      <xs:element name="iscsi_target" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="IscsiTargets"/>
          </xs:appinfo>
        </xs:annotation>
      <!-- ... etc., explicitly enumerate all the response types -->
      </xs:element>
      <xs:element ref="power_management" minOccurs="0" maxOccurs="1"/>
      <!-- for Host fence status action  -->

      <!-- This flag is populated by the "isattached" action to indicate if the
           returned storage dommain is attached to any data center: -->
      <xs:element name="is_attached" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:group>

  <!-- Represents a potentially asynchronous operation -->

  <xs:element name="action" type="Action"/>

  <xs:complexType name="Action">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
         <!-- The following are used by the client
              when initiating an operation -->
            <xs:element name="async" type="xs:boolean" minOccurs="0"/>
            <!-- action-specific parameter(s) for the operation
                 (if required) -->
            <xs:group ref="ActionParameterGroup"/>

          <!-- The following, and the BaseResource href/id attributes
               are used by the server when responding after an
               asynchronous operation or status query -->
            <xs:element ref="status" minOccurs="0" maxOccurs="1"/>
            <!-- Fault describing failure case -->
            <xs:element ref="fault" minOccurs="0" maxOccurs="1"/>
            <!-- action-specific response(s) for the operation
                 (if required) -->
            <xs:group ref="ActionResponseGroup"/>
            <!-- also link to original action (rel="replay") and
                 parent resource (rel="parent") -->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Actions">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
            <jaxb:property name="Links"/>
        </xs:appinfo>
      </xs:annotation>
      <xs:element ref="link" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="usages" type="Usages" />

  <xs:complexType name="Usages">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
            <jaxb:property name="usages"/>
        </xs:appinfo>
      </xs:annotation>
      <xs:element name="usage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Represents an asynchronous resource creation -->

  <xs:element name="creation" type="Creation"/>

  <xs:complexType name="Creation">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element ref="status" minOccurs="0" maxOccurs="1"/>
          <!-- Fault describing failure case -->
          <xs:element ref="fault" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="creation_states" type="CreationStates"/>

  <xs:complexType name="CreationStates">
    <xs:sequence>
      <xs:element name="creation_state" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="CreationStates"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Version numbers -->

  <xs:element name="system_version" type="Version"/>

  <xs:element name="product_info" type="ProductInfo"/>

  <xs:complexType name="ProductInfo">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element name="vendor" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element type="Version" name="version" minOccurs="0" maxOccurs="1"/>
          <xs:element name="full_version" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Capabilities -->

  <xs:element name="capabilities" type="Capabilities"/>

  <xs:complexType name="VersionCaps">
    <xs:complexContent>
      <xs:extension base="Version">
        <xs:sequence>
          <xs:element name="current" type="xs:boolean" minOccurs="0"/>
          <xs:element name="features" type="Features" minOccurs="0"/>
          <xs:element ref="cpus" minOccurs="0"/>
          <xs:element name="power_management" type="Agents" minOccurs="0"/>
          <xs:element ref="fence_types" minOccurs="0"/>
          <xs:element ref="storage_types" minOccurs="0"/>
          <xs:element ref="configuration_types" minOccurs="0"/>
          <xs:element ref="storage_domain_types" minOccurs="0"/>
          <xs:element ref="vm_types" minOccurs="0"/>
          <xs:element ref="boot_devices" minOccurs="0"/>
          <xs:element ref="display_types" minOccurs="0"/>
          <xs:element ref="nic_interfaces" minOccurs="0"/>
          <xs:element ref="os_types" minOccurs="0"/>
          <xs:element ref="disk_formats" minOccurs="0"/>
          <xs:element ref="graphics_types" minOccurs="0"/>
          <xs:element ref="disk_storage_types" minOccurs="0"/>
          <xs:element ref="disk_interfaces" minOccurs="0"/>
          <xs:element ref="vm_affinities" minOccurs="0"/>
          <xs:element ref="custom_properties" minOccurs="0"/>
          <xs:element ref="boot_protocols" minOccurs="0"/>
          <xs:element name="error_handling" type="ErrorHandlingOptions" minOccurs="0"/>
          <xs:element ref="storage_formats" minOccurs="0"/>
          <xs:element ref="creation_states" minOccurs="0"/>
          <xs:element ref="power_management_states" minOccurs="0"/>
          <xs:element ref="host_states" minOccurs="0"/>
          <xs:element ref="external_statuses" minOccurs="0"/>
          <xs:element ref="host_protocols" minOccurs="0"/>
          <xs:element ref="host_non_operational_details" minOccurs="0"/>
          <xs:element ref="network_states" minOccurs="0"/>
          <xs:element ref="storage_domain_states" minOccurs="0"/>
          <xs:element ref="template_states" minOccurs="0"/>
          <xs:element ref="vm_states" minOccurs="0"/>
          <xs:element ref="vm_pause_details" minOccurs="0"/>
          <xs:element ref="disk_states" minOccurs="0"/>
          <xs:element ref="host_nic_states" minOccurs="0"/>
          <xs:element ref="data_center_states" minOccurs="0"/>
          <xs:element ref="vm_device_types" minOccurs="0"/>
          <xs:element ref="permits" minOccurs="0"/>
          <xs:element ref="usages" minOccurs="0"/>
          <xs:element ref="nfs_versions" minOccurs="0"/>
          <xs:element ref="pm_proxy_types" minOccurs="0"/>
          <xs:element ref="cpu_modes" minOccurs="0"/>
          <xs:element ref="sgio_options" minOccurs="0"/>
          <xs:element ref="watchdog_models" minOccurs="0"/>
          <xs:element ref="watchdog_actions" minOccurs="0"/>
          <xs:element ref="authentication_methods" minOccurs="0"/>
          <xs:element ref="kdump_states" minOccurs="0"/>
          <xs:element ref="spm_states" minOccurs="0"/>
          <xs:element ref="vm_pool_types" minOccurs="0"/>
          <!--  External tasks -->
          <xs:element ref="step_types" minOccurs="0"/>
          <xs:element ref="payload_encodings" minOccurs="0"/>
          <!-- Gluster related -->
          <xs:element ref="gluster_volume_types" minOccurs="0"/>
          <xs:element ref="transport_types" minOccurs="0"/>
          <xs:element ref="gluster_volume_states" minOccurs="0"/>
          <xs:element ref="brick_states" minOccurs="0"/>
          <xs:element ref="reported_device_types" minOccurs="0"/>
          <xs:element ref="ip_versions" minOccurs="0"/>
          <xs:element ref="snapshot_statuses" minOccurs="0"/>
          <xs:element ref="content_types" minOccurs="0" />
          <xs:element ref="hook_states" minOccurs="0" />
          <xs:element ref="stages" minOccurs="0" />
          <xs:element ref="sso_methods" minOccurs="0"/>
          <xs:element ref="architecture_capabilities" minOccurs="0"/>
          <xs:element ref="serial_number_policies" minOccurs="0" />
          <xs:element ref="selinux_modes" minOccurs="0" />
          <xs:element ref="rng_sources" minOccurs="0" />
          <xs:element ref="scheduling_policy_unit_types" minOccurs="0" />
          <xs:element ref="qos_types" minOccurs="0" />
          <xs:element ref="inheritable_booleans" minOccurs="0" maxOccurs="1" />
          <xs:element ref="network_plugin_types" minOccurs="0"/>
          <xs:element ref="message_broker_types" minOccurs="0"/>
          <xs:element ref="display_disconnect_actions" minOccurs="0" />
          <xs:element ref="quota_mode_types" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Capabilities">
    <xs:complexContent>
      <xs:extension base="BaseResources">
        <xs:sequence>
          <xs:element name="version" type="VersionCaps" maxOccurs="unbounded">
            <xs:annotation>
              <xs:appinfo>
                <jaxb:property name="Versions"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <!-- TODO: (deprecated) remove these elements post 4.0 -->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="features" type="Features"/>

  <xs:complexType name="Features">
    <xs:sequence>
      <xs:element ref="feature" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<xs:element name="feature" type="Feature"/>

  <xs:complexType name="Feature">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element ref="transparent_hugepages" minOccurs="0"/>
          <xs:element ref="gluster_volumes" minOccurs="0"/>
          <xs:element ref="vm_device_types" minOccurs="0"/>
          <xs:element ref="storage_types" minOccurs="0"/>
          <xs:element ref="storage_domain" minOccurs="0"/>
          <xs:element ref="nic" minOccurs="0"/>
          <xs:element ref="api" minOccurs="0"/>
          <xs:element ref="host" minOccurs="0"/>
          <xs:element ref="url" minOccurs="0"/>
          <xs:element ref="headers" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="fence_types" type="FenceTypes"/>

  <xs:complexType name="FenceTypes">
    <xs:sequence>
      <xs:element name="fence_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="FenceTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="storage_types" type="StorageTypes"/>

  <xs:complexType name="StorageTypes">
    <xs:sequence>
      <xs:element name="storage_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="StorageTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

    <xs:element name="configuration_types" type="ConfigurationTypes"/>

    <xs:complexType name="ConfigurationTypes">
        <xs:sequence>
            <xs:element name="configuration_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="ConfigurationTypes"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

  <xs:element name="storage_domain_types" type="StorageDomainTypes"/>

  <xs:complexType name="StorageDomainTypes">
    <xs:sequence>
      <xs:element name="storage_domain_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="StorageDomainTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="vm_types" type="VmTypes"/>

  <xs:complexType name="VmTypes">
    <xs:sequence>
      <xs:element name="vm_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="VmTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="boot_devices" type="BootDevices"/>

  <xs:complexType name="BootDevices">
    <xs:sequence>
      <xs:element name="boot_device" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="BootDevices"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="display_types" type="DisplayTypes"/>

  <xs:complexType name="DisplayTypes">
    <xs:sequence>
      <xs:element name="display_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="DisplayTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="nic_interfaces" type="NicInterfaces"/>

  <xs:complexType name="NicInterfaces">
    <xs:sequence>
      <xs:element name="nic_interface" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="NicInterfaces"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="os_types" type="OsTypes"/>

  <xs:complexType name="OsTypes">
    <xs:sequence>
      <xs:element name="os_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="OsTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="disk_formats" type="DiskFormats"/>

  <xs:complexType name="DiskFormats">
    <xs:sequence>
      <xs:element name="disk_format" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="DiskFormats"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="graphics_types" type="GraphicsTypes"/>

  <xs:complexType name="GraphicsTypes">
    <xs:sequence>
      <xs:element name="graphics_types" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="GraphicsTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="disk_storage_types" type="DiskStorageTypes"/>

  <xs:complexType name="DiskStorageTypes">
    <xs:sequence>
      <xs:element name="disk_storage_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="DiskStorageTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="disk_interfaces" type="DiskInterfaces"/>

  <xs:complexType name="DiskInterfaces">
    <xs:sequence>
      <xs:element name="disk_interface" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="DiskInterfaces"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="vm_affinities" type="VmAffinities"/>

  <xs:complexType name="VmAffinities">
    <xs:sequence>
      <xs:element name="affinity" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="VmAffinities"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="boot_protocols" type="BootProtocols"/>

  <xs:complexType name="BootProtocols">
    <xs:sequence>
      <xs:element name="boot_protocol" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="BootProtocols"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ErrorHandlingOptions">
    <xs:sequence>
      <xs:element name="on_error" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="ErrorHandling"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="storage_formats" type="StorageFormats"/>

  <xs:complexType name="StorageFormats">
    <xs:sequence>
      <xs:element name="format" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="StorageFormats"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="nfs_versions" type="NfsVersions"/>

  <xs:complexType name="NfsVersions">
    <xs:sequence>
      <xs:element name="nfs_version" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="NfsVersions"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="reported_device_types" type="ReportedDeviceTypes"/>

  <xs:complexType name="ReportedDeviceTypes">
    <xs:sequence>
      <xs:element name="reported_device_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="ReportedDeviceTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="ip_versions" type="IpVersions"/>

  <xs:complexType name="IpVersions">
    <xs:sequence>
      <xs:element name="ip_version" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="IpVersions"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="cpu_modes" type="CpuModes"/>

  <xs:complexType name="CpuModes">
    <xs:sequence>
      <xs:element name="cpu_mode" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="CpuModes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="sgio_options" type="ScsiGenericIoOptions"/>

  <xs:complexType name="ScsiGenericIoOptions">
    <xs:sequence>
      <xs:element name="sgio_options" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="ScsiGenericIoOptions"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="payload_encodings" type="PayloadEncodings"/>

  <xs:complexType name="PayloadEncodings">
    <xs:sequence>
      <xs:element name="payload_encodings" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="PayloadEncodings"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <xs:element name="watchdog_actions" type="WatchdogActions"/>

  <xs:complexType name="WatchdogActions">
    <xs:sequence>
      <xs:element name="action" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="WatchdogActions"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="watchdog_models" type="WatchdogModels"/>

  <xs:complexType name="WatchdogModels">
    <xs:sequence>
      <xs:element name="model" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="WatchdogModels"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <xs:element name="snapshot_statuses" type="SnapshotStatuses"/>

  <xs:complexType name="SnapshotStatuses">
    <xs:sequence>
      <xs:element name="snapshot_status" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="SnapshotStatuses"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="sso_methods" type="SsoMethods"/>

  <xs:complexType name="SsoMethods">
    <xs:sequence>
      <xs:element name="sso_method" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="SsoMethods"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="kdump_states" type="KdumpStates"/>

  <xs:complexType name="KdumpStates">
    <xs:sequence>
      <xs:element name="kdump_status" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="KdumpStates"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="spm_states" type="SpmStates"/>

  <xs:complexType name="SpmStates">
    <xs:sequence>
      <xs:element name="spm_state" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="SpmStates"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="network_plugin_types" type="NetworkPluginTypes"/>

  <xs:complexType name="NetworkPluginTypes">
    <xs:sequence>
      <xs:element name="network_plugin_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="NetworkPluginTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="message_broker_types" type="MessageBrokerTypes"/>

  <xs:complexType name="MessageBrokerTypes">
    <xs:sequence>
      <xs:element name="message_broker_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="MessageBrokerTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="host_states" type="HostStates"/>

  <xs:complexType name="HostStates">
    <xs:sequence>
      <xs:element name="host_state" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="HostStates"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="external_statuses" type="ExternalStatuses"/>

  <xs:complexType name="ExternalStatuses">
    <xs:sequence>
      <xs:element name="external_status" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="ExternalStatus"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="quota_mode_types" type="QuotaModeTypes"/>

  <xs:complexType name="QuotaModeTypes">
    <xs:sequence>
      <xs:element name="quota_mode_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="QuotaModeTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <!-- Architecture Capabilities -->

  <xs:element name="architecture_capability" type="ArchitectureCapability"/>

  <xs:complexType name="ArchitectureCapability">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>

      <xs:element name="architectures" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="Architectures"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="architecture_capabilities" type="ArchitectureCapabilities"/>

  <xs:complexType name="ArchitectureCapabilities">
    <xs:sequence>
      <xs:annotation>
        <xs:appinfo>
            <jaxb:property name="Capabilities"/>
        </xs:appinfo>
      </xs:annotation>
      <xs:element ref="architecture_capability" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="serial_number_policies" type="SerialNumberPolicies" />

  <xs:complexType name="SerialNumberPolicies">
    <xs:sequence>
      <xs:element name="serial_number_policy" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="SerialNumberPolicies" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="display_disconnect_actions" type="DisplayDisconnectActions" />

  <xs:complexType name="DisplayDisconnectActions">
    <xs:sequence>
      <xs:element name="display_disconnect_action" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="DisplayDisconnectActions" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="selinux_modes" type="SELinuxModes" />

  <xs:complexType name="SELinuxModes">
    <xs:sequence>
      <xs:element name="selinux_mode" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="SELinuxModes" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="scheduling_policy_unit_types" type="SchedulingPolicyUnitTypes" />

  <xs:complexType name="SchedulingPolicyUnitTypes">
    <xs:sequence>
      <xs:element name="scheduling_policy_unit_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="SchedulingPolicyUnitTypes" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="vm_pool_types" type="VmPoolTypes"/>

  <xs:complexType name="VmPoolTypes">
    <xs:sequence>
      <xs:element name="vm_pool_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="VmPoolTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

    <!-- Common to all resources -->

  <xs:complexType name="ActionableResource">
    <xs:sequence>
      <xs:element name="actions" type="Actions" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BaseResource">
    <xs:complexContent>
      <xs:extension base="ActionableResource">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="comment" type="xs:string" minOccurs="0"/>
          <xs:element name="creation_status" type="Status" minOccurs="0"/>
          <!-- also rel="creation_status" link for monitoring async creation -->
          <!-- further link relation types may be defined by specific resources -->
          <xs:element ref="link" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:appinfo>
                <jaxb:property name="Links"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="href" type="xs:string"/>
        <xs:attribute name="id" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BaseResources">
     <xs:complexContent>
      <xs:extension base="ActionableResource">
        <xs:sequence>
          <!-- The "size" of the collection is the actual number of items
               returned as a result. For example, when using the "max"
               parameter the set of returned items may be different than
               the total. -->
          <xs:element name="size" type="xs:unsignedInt" minOccurs="0"/>

          <!-- The "total" is the total number of items that match the
               restrictions given by the caller, regardless of the value
               of the "max" parameter. -->
          <xs:element name="total" type="xs:unsignedInt" minOccurs="0"/>

          <xs:element name="active" type="xs:unsignedInt" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="inheritable_booleans" type="InheritableBooleans" />

  <xs:complexType name="InheritableBooleans">
    <xs:sequence>
      <xs:element name="inheritable_boolean" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="InheritableBooleans" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Data Centers -->

  <xs:element name="data_center_states" type="DataCenterStates"/>

  <xs:complexType name="DataCenterStates">
    <xs:sequence>
      <xs:element name="data_center_state" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="DataCenterStates"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Hosts -->
  <xs:element name="power_management_states" type="PowerManagementStates"/>

  <xs:complexType name="PowerManagementStates">
    <xs:sequence>
      <xs:element name="power_management_state" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="PowerManagementStates"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="power_managers" type="PowerManagers"/>

  <xs:complexType name="PowerManagers">
    <xs:sequence>
      <xs:element ref="power_management" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="PowerManagers"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="host_protocols" type="HostProtocols"/>

  <xs:complexType name="HostProtocols">
    <xs:sequence>
      <xs:element name="host_protocol" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="HostProtocols"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="host_non_operational_details" type="HostNonOperationalDetails"/>

  <xs:complexType name="HostNonOperationalDetails">
    <xs:sequence>
      <xs:element name="host_non_operational_detail" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="HostNonOperationalDetails"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Users & Roles -->
  <xs:element name="authentication_methods" type="AuthenticationMethod"/>

  <xs:complexType name="AuthenticationMethod">
    <xs:sequence>
      <xs:element name="authentication_method" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="AuthenticationMethod"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Networks -->
  <xs:element name="network_states" type="NetworkStates"/>

  <xs:complexType name="NetworkStates">
    <xs:sequence>
      <xs:element name="network_state" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="NetworkStates"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- HostStorage Domains -->
  <xs:element name="storage_domain_states" type="StorageDomainStates"/>

  <xs:complexType name="StorageDomainStates">
    <xs:sequence>
      <xs:element name="storage_domain_state" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="StorageDomainStates"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Virtual Machine Templates -->
  <xs:element name="template_states" type="TemplateStates"/>

  <xs:complexType name="TemplateStates">
    <xs:sequence>
      <xs:element name="template_state" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="TemplateStates"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Virtual Machines -->

  <!-- Random Number Genertor device -->
  <xs:element name="rng_sources" type="RngSources" />

  <xs:element name="source" type="xs:string" />

  <xs:complexType name="RngSources">
    <xs:sequence>
      <xs:element ref="source" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="RngSources" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="vm_device_types" type="VmDeviceTypes"/>

  <xs:complexType name="VmDeviceTypes">
    <xs:sequence>
      <xs:element name="vm_device_types" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="VmDeviceTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="vm_states" type="VmStates"/>

  <xs:complexType name="VmStates">
    <xs:sequence>
      <xs:element name="vm_state" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="VmStates"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="vm_pause_details" type="VmPauseDetails"/>

  <xs:complexType name="VmPauseDetails">
    <xs:sequence>
      <xs:element name="vm_pause_detail" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="VmPauseDetails"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pm_proxy_types" type="PmProxyTypes"/>

  <xs:complexType name="PmProxyTypes">
    <xs:sequence>
      <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="PmProxyTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Devices -->
  <xs:element name="disk_states" type="DiskStates"/>

  <xs:complexType name="DiskStates">
    <xs:sequence>
      <xs:element name="disk_state" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="DiskStates"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Host NICs -->
  <xs:element name="host_nic_states" type="HostNicStates"/>

  <xs:complexType name="HostNicStates">
    <xs:sequence>
      <xs:element name="host_nic_state" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="HostNicStates"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- RSDL -->

  <xs:element name="url" type="Url"/>

  <xs:complexType name="Url">
    <xs:sequence>
      <xs:element ref="parameters_set" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="ParametersSets"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="body" type="Body"/>

  <xs:complexType name="Body">
    <xs:sequence>
      <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="parameters_set" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="ParametersSets"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="required" type="xs:boolean">
                <xs:annotation>
          <xs:appinfo>
            <jaxb:property generateIsSetMethod="false"/>
          </xs:appinfo>
        </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="request" type="Request"/>

  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element name="http_method" type="HttpMethod" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="headers" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="url" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="body" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="HttpMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GET"/>
      <xs:enumeration value="POST"/>
      <xs:enumeration value="PUT"/>
      <xs:enumeration value="DELETE"/>
      <xs:enumeration value="OPTIONS"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="response" type="Response"/>

  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="parameter" type="Parameter"/>

  <xs:complexType name="Parameter">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
	      <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1"/>
	      <xs:element ref="parameters_set" minOccurs="0" maxOccurs="1"/>
	      <xs:element name="deprecated" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="required" type="xs:boolean">
          <xs:annotation>
            <xs:appinfo>
              <jaxb:property generateIsSetMethod="false"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="context" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="header" type="Header"/>

  <xs:complexType name="Header">
    <xs:complexContent>
      <xs:extension base="BaseResource">
        <xs:sequence>
          <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="deprecated" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
       <xs:attribute name="required" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property generateIsSetMethod="false"/>
          </xs:appinfo>
        </xs:annotation>
       </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="headers" type="Headers"/>

  <xs:complexType name="Headers">
    <xs:sequence>
      <xs:element ref="header" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="Headers"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="parameters_set" type="ParametersSet"/>

  <xs:complexType name="ParametersSet">
    <xs:sequence>
      <xs:element name="deprecated" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="Parameters"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="schema" type="Schema"/>

  <xs:complexType name="Schema">
    <xs:complexContent>
      <xs:extension base="Link">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="general_metadata" type="GeneralMetadata"/>

  <xs:complexType name="GeneralMetadata">
    <xs:complexContent>
      <xs:extension base="DetailedLink">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="rsdl" type="Rsdl"/>

  <xs:complexType name="Rsdl">
     <xs:sequence>
       <xs:element name="description" type="xs:string" minOccurs="0"/>
       <xs:element type="Version" name="version" minOccurs="0" maxOccurs="1" />
       <xs:element ref="schema" minOccurs="0" maxOccurs="1" />
       <xs:element type="GeneralMetadata" name="general" minOccurs="0" maxOccurs="1"/>
       <xs:element type="DetailedLinks" name="links" minOccurs="0"/>
     </xs:sequence>
     <xs:attribute name="href" type="xs:string"/>
     <xs:attribute name="rel" type="xs:string"/>
  </xs:complexType>

  <!-- Gluster Types -->
  <xs:element name="gluster_volume_types" type="GlusterVolumeTypes"/>
  <xs:complexType name="GlusterVolumeTypes">
    <xs:sequence>
      <xs:element name="gluster_volume_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="GlusterVolumeTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="transport_types" type="TransportTypes"/>
  <xs:complexType name="TransportTypes">
    <xs:sequence>
      <xs:element name="transport_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="TransportTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="gluster_volume_states" type="GlusterStates"/>
  <xs:element name="brick_states" type="GlusterStates"/>
  <xs:complexType name="GlusterStates">
    <xs:sequence>
      <xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="GlusterStates"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="stages" type="Stages"/>
  <xs:complexType name="Stages">
    <xs:sequence>
      <xs:element name="stage" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="Stages"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="hook_states" type="HookStates"/>

  <xs:complexType name="HookStates">
    <xs:sequence>
      <xs:element name="hook_state" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="HookStates"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="content_types" type="ContentTypes"/>
  <xs:complexType name="ContentTypes">
    <xs:sequence>
      <xs:element name="content_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="ContentTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="step_types" type="StepTypes"/>
  <xs:complexType name="StepTypes">
    <xs:sequence>
      <xs:element name="step_type" type="xs:string"  minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="qos_types" type="QosTypes"/>

  <xs:complexType name="QosTypes">
    <xs:sequence>
      <xs:element name="qos_type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="QosTypes"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
